# Lab Module: Chapter 12 - Stored Procedures & Functions

We will be utilizing the Olist E-COmmerce dataset for **all** questions. This dataset is created in the `00_Start_Here.ipynb` notebook, that should be run before attempting these challenges. The Python code in that notebook describes each of the tables, and their relationships. For schema, please review the create table statements in that notebook.

(Run the cell below to ensure connectivity)

In [ ]:
%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = True
%config SqlMagic.displaycon = False
%config SqlMagic.named_parameters="enabled"

%sql postgresql://admin:password@postgres:5432/postgres

Connecting to 'postgresql://admin:***@postgres:5432/postgres'

## Challenge 1: The Basic Scalar Function
- **Context**: The e-commerce team wants a standardized way to calculate the total cost of a line item (price + freight) without rewriting the addition logic in every query.
- **Task**: Create a user-defined function named `calculate_total_cost` that accepts two `NUMERIC` arguments (`price` and `freight_value`) and returns their sum.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

In [ ]:
%%sql
# Check price and freight_value on unique item first.
SELECT price, freight_value
FROM order_items
WHERE order_id = 'fffe41c64501cc87c801fd61db3f6244';

In [ ]:
%%sql
# Value returned from `calculate_total_cost` should be the sum of the values above.
SELECT calculate_total_cost(o.price, o.freight_value)
FROM order_items AS o
WHERE order_id = 'fffe41c64501cc87c801fd61db3f6244';'

## Challenge 2: Conditional Logic (IF/ELSE)
- **Context**: Management wants to classify orders based on their price point.
- **Task**: Create a function named `classify_price_tier` that takes a `price` (`NUMERIC`) as input.
    - If `price > 500`, return "High End".
    - If price is between 100 and 500, return "Mid Range".
    - Otherwise, return "Budget".
- Apply this to the `order_items` table.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

In [ ]:
%%sql
# Check the price listed for a specific order ID.
SELECT price
FROM order_items
WHERE order_id = '0812eb902a67711a1cb742b3cdaa65ae';

In [ ]:
%%sql
# Verify that the function returns appropriate tier
SELECT classify_price_tier(o.price)
FROM order_items AS o
WHERE order_id = '0812eb902a67711a1cb742b3cdaa65ae';

## Challenge 3: Error Handling (Division by Zero)
- **Context**: We need to calculate the "Average Item Price" for an order. However, sometimes data anomalies might result in an item count of 0, causing a crash.
- **Task**: Create a function `safe_average_price(total_price NUMERIC, item_count INT)` using `EXCEPTION` handling.
    - Try to return `total_price / item_count`.
    - If a `division_by_zero` error occurs, return 0.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

In [ ]:
%%sql
# Run this test query to ensure everything works
SELECT safe_average_price(100, 2) as normal, safe_average_price(100, 0) as handled;

## Challenge 4: User-Defined Constraints (Raising Exceptions)
- **Context**: We are writing a data validation script. We want to ensure no one analyzes data from before 2016 (the start of the Olist dataset).
- **Task**: Create a function `validate_year(order_date TIMESTAMP)`.
    - If the year of the date is prior to 2016, `RAISE EXCEPTION` with the message "Invalid Date: Legacy Date".
    - Otherwise, return "Valid".

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

In [ ]:
%%sql
# Test with a valid date
SELECT validate_year('2017-01-01'::TIMESTAMP);

In [ ]:
%%sql
# Test with an invalid date
SELECT validate_year('2001-01-01'::TIMESTAMP);

## Challenge 5: Variables and Calculation inside Procedures
- **Context**: We want to calculate the potential revenue impact of a global 10% discount on a specific seller's inventory.
- **Task**: Create a function `simulate_discount(target_seller_id TEXT)` that:
    - Declares a variable `current_revenue`.
    - Selects the sum of `price` for that seller into `current_revenue`.
    - Returns `current_revenue * 0.90`.
- There were a couple of concepts that were not hit on in the material. Hopefully this boilerplate below helps you see how to use them.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE
CREATE OR REPLACE FUNCTION _________(target_seller_id TEXT)
RETURNS NUMERIC AS $$
DECLARE
    current_revenue NUMERIC;
BEGIN
    SELECT SUM(____) 
    INTO current_revenue
    FROM order_items
    WHERE _______ = target_seller_id;
    
    -- Handle case where seller has no sales (null result)
    IF current_revenue IS NULL THEN
        RETURN 0;
    END IF;

    RETURN current_revenue * 0.90;
END;
$$ LANGUAGE plpgsql;

In [ ]:
%%sql
# Verify function works.
SELECT simulate_discount('48436dade18ac8b2bce089ec2a041202'::TEXT);