# Lab Module 10: Modifying Data

(Run the below cell first, to ensure connectivity)

In [ ]:
%load_ext sql

%sql postgresql://admin:password@postgres:5432/postgres

## Challenge 1: Setting up the Sandbox (INSERT Prep)
- **Context**: Before modifying live production data, the engineering team wants you to create a backup table for product experiments. 
- **Task**: Create a new table named `product_experiments` with the same structure as the `products` table, but initially empty. (Hint: Use CREATE TABLE ... AS SELECT ... WHERE 1=0 (the where clause is a trick to create the same structure without any data since 1 != 0 no actual rows are copied over)).

In [ ]:
%%sql
-- Write your solution here

## Challenge 2: The First Product (Simple INSERT)
- **Context**: We are testing a new product line. You need to manually add a single prototype item to the product_experiments table. 
- **Task**: Insert a new row into `product_experiments`.
    - ID: 'PROTOTYPE-001'
    - Category: 'experimental_tech'
    - Weight: 500
    - Dimensions (L, H, W): 20, 10, 15

In [ ]:
%%sql
-- Write your solution here

## Challenge 3: Bulk Inventory (Multi-Row INSERT)
- **Context**: Two variations of the prototype have been approved. We need to add them in a single batch operation to save time. 
- **Task**: Write a single INSERT statement to add these two rows to `product_experiments`:
    - ID: 'PROTOTYPE-002', Category: 'experimental_tech', Weight: 600, Dims: 22, 12, 15
    - ID: 'PROTOTYPE-003', Category: 'experimental_tech', Weight: 550, Dims: 20, 10, 15

In [ ]:
%%sql
-- Write your solution here

## Challenge 4: Data Migration (INSERT INTO ... SELECT)
- **Context**: The team wants to test price updates on real data. We need to copy all "Furniture" related products from the main products table into our experiment table. 
- **Task**: Insert all rows from the main `products` table where the `product_category_name` is 'moveis_escritorio' (Office Furniture) into `product_experiments`.

In [ ]:
%%sql
-- Write your solution here

## Challenge 5: Handling Nulls in Insertion
- **Context**: We have a digital product with no physical dimensions. 
- **Task**: Insert a new product 'DIGITAL-001' into `product_experiments` with the category 'software'. Explicitly insert NULL for weight, length, height, and width.

In [ ]:
%%sql
-- Write your solution here

## Challenge 6: Correcting Typos (Simple UPDATE)
- **Context**: The data entry team noticed a typo. The category 'experimental_tech' should actually be labeled 'rd_lab'. 
- **Task**: Update the `product_category_name` to 'rd_lab' for all rows in `product_experiments` that currently have the category 'experimental_tech'.

In [ ]:
%%sql
-- Write your solution here

## Challenge 7: Dimensions Adjustment (UPDATE with Math)
- **Context**: We discovered our measuring tools were calibrated incorrectly. All products in the 'moveis_escritorio' category are actually 2cm longer than listed. 
- **Task**: Update `product_experiments`, increasing the `product_length_cm` by 2 for all Office Furniture ('moveis_escritorio').

In [ ]:
%%sql
-- Write your solution here

## Challenge 8: Conditional Updates (UPDATE Multiple Columns)
- **Context**: For the 'PROTOTYPE-001', we need to update both the dimensions and the weight to match the final production specs. 
- **Task**: Update `product_experiments` where the ID is 'PROTOTYPE-001'. Set weight to 520 and height to 12.

In [ ]:
%%sql
-- Write your solution here

## Challenge 9: Safety Check (The Missing WHERE)
- **Context**: (Conceptual Warning Challenge) You are about to run an update. A junior dev wrote `UPDATE product_experiments SET product_weight_g = 0;`. 
- **Task**: If you ran this query without a WHERE clause, what would happen? (No code execution required, but write the corrected SQL to set weight to 0 only for 'DIGITAL-001').

In [ ]:
%%sql
-- Write your solution here

## Challenge 10: Removing Discontinued Items (DELETE)
- **Context**: The 'PROTOTYPE-002' failed safety testing and must be removed from the database completely. 
- **Task**: Delete the row with product ID 'PROTOTYPE-002' from `product_experiments`.

In [ ]:
%%sql
-- Write your solution here

## Challenge 11: Cleaning Up Categories (DELETE with Logic)
- **Context**: We decided to cancel the entire Digital line. 
- **Task**: Delete all products from `product_experiments` where the category is 'software'.

In [ ]:
%%sql
-- Write your solution here

## Challenge 12: Constraint Awareness (Foreign Keys)
- **Context**: You try to delete a customer from the main customers table, but they have existing orders. Task: Explain why the database blocks this DELETE operation, or simulate it on a temp setup. (Pre-requisite setup):

In [ ]:
%%sql
-- setup code
CREATE TABLE customers_temp AS SELECT * FROM customers LIMIT 5;
CREATE TABLE orders_temp AS SELECT * FROM orders WHERE customer_id IN (SELECT customer_id FROM customers_temp);
-- Note: In this temp setup, FKs aren't enforced unless explicitly added, but treat this as if they are.*

- **Task**: Write a query to delete all orders in `orders_temp` for a specific customer ID from `customers_temp`, so that the customer can subsequently be deleted. (You need to delete `customer_id` = '00012a2ce6f8dcda20d059ce98491703' from both tables).

In [ ]:
%%sql
-- Write your solution here

In [ ]:
%%sql
-- Write second part solution here

## Challenge 13: The Nuclear Option (TRUNCATE)
- **Context**: The experiment is over. We want to empty the product_experiments table completely to prepare for a new batch, but we want to keep the table structure. 
- **Task**: Use TRUNCATE to remove all data from `product_experiments`.

In [ ]:
%%sql
-- Write your solution here

## Challenge 14: Your First Transaction (COMMIT)
- **Context**: We are entering a new order. This requires inserting into orders and order_items simultaneously. To ensure data integrity, we wrap this in a transaction. 
- **Task**: Write a transaction block.
    - Begin the transaction.
    - Insert a new order into orders_temp (ID: 'ORD-999', Status: 'created').
    - Commit the transaction.

In [ ]:
%%sql
-- Write your solution here

## Challenge 15: The Safety Net (ROLLBACK)
- **Context**: You started a transaction to update prices, but realized you applied the wrong formula. 
- **Task**:
    - Begin a Transaction.
    - Update product_experiments (assume we repopulated it) setting all weights to 0.
    - Rollback the transaction to undo the mistake.

In [ ]:
%%sql
-- Write your solution here

## Challenge 16: Atomic Transfers
- **Context**: In an inventory system, moving an item from "Warehouse A" to "Warehouse B" involves deleting it from A and inserting it into B. If one fails, both must fail. 
- **Task**: Write a transaction to:
    - Delete product 'PROTOTYPE-003' from product_experiments (representing Warehouse A).
    - Insert product 'PROTOTYPE-003' into products (representing Warehouse B - assuming it doesn't exist there).
    - Commit.

In [ ]:
%%sql
-- Write your solution here

## Challenge 17: Housekeeping (DROP TABLE)
- **Context**: The lab is finished. We need to remove the temporary structures we created. 
- **Task**: Delete the `product_experiments`, `customers_temp`, `orders_temp`, and `sellers_copy` tables entirely from the database.

In [ ]:
%%sql
-- Write your solution here