# Lab Module: Chapter 6 - Aggregate Functions

(Run the cell below to ensure connectivity)

In [ ]:
%load_ext sql

%sql duckdb:////home/jovyan/data/analytics.duckdb

## Challenge 1: The Volume of Traffic
- **Context**: The NYC Taxi and Limousine Commission wants to know exactly how many trips were recorded in January 2023 to gauge system load.
- **Task**: Write a query to count the total number of rows in the dataset. Alias the results as `total_trips`. Use the table `taxi_trips`.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The Answer is 3066766

## Challenge 2: Total Revenue Estimation
- **Context**: Finance needs a quick calculation of the gross revenue generated by all taxi rides in this period.
- **Task**: Calculate the sum of the `total_amount` column. Alias the result as `gross_revenue`.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The Answer is 82865192.21999484

## Challenge 3: Average Trip Distance
- **Context**: Operations is analyzing fleet efficiency and needs to know the average distance of a taxi trip in NYC.
- **Task**: Calculate the average `trip_distance`. Alias the result as `avg_distance`.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The answer is 3.8473420306603137

## Challenge 4: Revenue by Payment Method
- **Context**: The payment team wants to see which payment methods (Credit, Cash, etc.) generate the most revenue for NYC taxis.
- **Task**: Calculate the total `total_amount` for each `payment_type`, alias the result as `total_revenue`. Return two columns `payment_type` and `total_revenue`. Order by `total_revenue` descending.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The answer is:

| total_revenue	| payment_type |
|--|--|
| 68240616.85999696 | 1 |
| 12260056.180000179 | 2 |
| 2090131.139999978 | 0 |
| 189364.68999999997 | 3 |
| 85023.35000000002 | 4 |

## Challenge 5: High-Fare Pickup Locations
- **Context**: We are identifying "luxury" zones. We need a list of pickup locations where the average fare is significantly higher than normal.
- **Task**: Calculate the average `total_amount` per `PULocationID`, alias the result as `avg_fare`. Filter to show only locations where the average amount is greater than $100.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The answer is:

| avg_fare | PULocationID |
|--|--|
| 104.37570731707319 | 1 |
| 107.56321797207045 | 265 |

### Switching Engines
(Run the code below to ensure connectivity)

In [ ]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = True
%config SqlMagic.displaycon = False

%sql postgresql://admin:password@postgres:5432/postgres

## Challenge 6: Pricing Extremes
- **Context**: The E-Commerce pricing team wants to understand the spread of item prices sold on the platform.
- **Task**: Find the cheapest and most expensive item `price` in the `order_items` table. Alias them as `min_price` and `max_price`

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The answer is:

| min_price | max_price |
|--|--|
| 0.85 | 6735.00 |

## Challenge 7: Customer Distribution by State
- **Context**: The marketing team is planning regional campaigns and needs to know how many customers are located in each state.
- **Task**: Write a query to list every `customer_state` and the count of `customer_id` in that state, aliased as `customer_count`. From the `customers` table. Sort the results alphabetically by state.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The answer is:

| customer_count | customer_state |
|--|--|
| 81 | AC |
| 413 | AL |
| 148 | AM |
| 68 | AP |
| 3380 | BA |
| 1336 | CE |
| 2140 | DF |
| 2033 | ES |
| 2020 | GO |
| 747 | MA |
| 11635 | MG |
| 715 | MS |
| 907 | MT |
| 975 | PA |
| 536 | PB |
| 1652 | PE |
| 495 | PI |
| 5045 | PR |
| 12852 | RJ |
| 485 | RN |
| 253 | RO |
| 46 | RR |
| 5466 | RS |
| 3637 | SC |
| 350 | SE |
| 41746 | SP |
| 280 | TO |

## Challenge 8: Order Value Consolidation
- **Context**: An order can consist of multiple items. We need to calculate the total price for every specific order to see basket sizes. 
- **Task**: Sum the `price` from the `order_items` table, grouping by `order_id`, alias the column as `total_order_value`. Limit the output to the first 10 orders (ordered by `order_id`).

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The answer is:

| total_order_value | order_id |
|--|--|
|58.90 |00010242fe8c5a6d1ba2dd792cb16214|
|239.90|00018f77f2f0320c557190d7a144bdd3|
|199.00|000229ec398224ef6ca0657da4fc703e|
|12.99|00024acbcdf0a6daa1e931b038114c75|
|199.90|00042b26cf59d7ce69dfabb4e55b4fd9|
|21.90|00048cc3ae777c65dbb7d2a0634bc1ea|
|19.90|00054e8431b9d7675808bcb819fb4a32|
|810.00|000576fe39319847cbb9d288c5617fa6|
|145.95|0005a1a1728c9d785b8e2b08b904576c|
|53.99|0005f50442cb953dcd1d21e1fb923495|

## Challenge 9: Finding Major Markets
- **Context**: We want to focus our seller recruitment efforts only on states that already have a significant seller presence.
- **Task**: List `seller_state` and the count of sellers (`seller_id`) aliased as `seller_count`, but **only** include states that have more than 50 sellers. From the `sellers` table. Order by count descending.

In [ ]:
%%sql
# WRITE YOUR SOLUTION HERE

The answer is:

| seller_state | seller_count |
|--|--|
|SP|1849|
|PR|349|
|MG|244|
|SC|190|
|RJ|171|
|RS|129|